@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

$main-background-color: #FFFFFF;
$navbar-bottom-border: gray;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  ::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $main-background-color;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


.navbar {
  height: 6rem;
  border-bottom: 4px solid rgba($navbar-bottom-border, 0.1);

  .logo {
    width: 11rem;
    padding: 2rem;
    margin-left: 0.5rem;
  }
}

.hero {
  width: 100vh;

  .hero-photo {
    margin: 3rem 4.8125rem 2rem 4.8125rem;
  }

  .hero-header {
    font-size: 2.25rem;
    font-weight: 600;
    margin-left: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .hero-text {
    font-weight: 300;
    margin-left: 2.25rem;
    width: 33ch;
    line-height: 110%;
  }
}

.card {
  margin: 3rem 2.25rem 1rem 2.25rem;

  .first-card {

    img {}
  }
}