@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

$main-background-color: #FFFFFF;
$navbar-bottom-border: gray;
$main-text-color-black: #222222;
$main-span-color: #918E9B;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  ::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $main-background-color;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


.navbar {
  height: 6rem;
  border-bottom: 4px solid rgba($navbar-bottom-border, 0.1);

  .logo {
    width: 11rem;
    padding: 2rem;
    margin-left: 0.5rem;
  }
}

.hero {
  width: 100vh;

  .hero-photo {
    margin: 3rem 4.8125rem 2rem 4.8125rem;
    width: 24.74rem;
  }

  .hero-header {
    font-size: 2.25rem;
    font-weight: 600;
    margin-left: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .hero-text {
    color: $main-text-color-black;
    font-weight: 300;
    margin-left: 2.25rem;
    width: 33ch;
    line-height: 110%;
  }
}

.card {
  margin: 3rem 2.25rem 1rem 2.25rem;

  .first-card {
    position: relative;

    .card1-status {
      font-size: 0.64rem;
      padding: 0.25rem;
      background-color: $main-background-color;
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      border-radius: 2px;
    }

    .card-photo {
      width: 10.9375rem;
    }

    .card-rating {
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-bottom: 0.3rem;

      .star {
        width: 0.875rem;
      }

      span {
        color: $main-span-color;

        .ellipse {
          position: relative;
          bottom: 0.2rem;
        }
      }
    }

    .card-description {
      font-size: 0.75rem;
      width: 24ch;
      line-height: 180%;

      span {
        font-weight: 600;
      }
    }
  }
}